---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/*--- variables ---*/
/*--- Anastasiya's colors ---*/
/*
$base-text-color: #4b4542;
$link-color: #d46d00;
$icon-color: #9e8c80;
$bg-color-second: #f0edea;
$bg-color-active: #d7d1ca;

$footer-link-color: #edc7b5;
$footer-bg-color: #6a6461;

$main-image-bg-color: #544741;
*/
/*--- My colors ---*/
$base-text-color: #2d2d2d;
$link-color: #A04604;
$icon-color: #6C3E06;
$bg-color-second: #F3F0ED;
$bg-color-active: #DCD3CA;//#D8CCC9;

$footer-link-color: #E7D0C0;
$footer-bg-color: #564F48;

$main-image-bg-color: #45392B;
/*--------------*/
/*--- backup ---
$base-text-color: #2f2f2f;
$link-color: #0C7365;
$icon-color: #29584F;
$bg-color-second: #EBF2F0;
$bg-color-active: #C4D9D4;

$footer-link-color: #ADCDC6;
$footer-bg-color: #485049;

$main-image-bg-color: #3a3a3a;
--------------*/
/*--- GLOBAL ---*/
$base-font-family: "Roboto", Helvetica, Arial, sans-serif;
$base-line-height: 1.45;
$footer-font-size: 16px;
$base-font-weight: 300;
$base-font-weight-bold: 400;

$h-font-weight: 400;

$h-margin-bottom: 15px;

$bg-color: #fafafa;

$menu-bg-color: #e6e6e6;
$menu-more-width: 250px;

$menu-height: 55px;
$menu-element-padding: 0 15px 0 15px;

$footer-base-text-color: #ffffff;

$content-width: 760px;
$content-padding: 0 25px 0 25px;
$content-element-padding-bottom: 20px;

$filter-bg-color: transparent;

$table-head-bg-color: #eaeaea;


@media screen and (min-width: 760px) {
  $base-font-size: 20px;
  $home-h1-font-size: $base-font-size * 3.5;
  $home-h3-font-size: $base-font-size * 1.35;
  $table-td-padding: 2px 10px 2px 10px;
  $table-th-padding: 5px 10px 5px 10px;
  $btn-scroll-top: calc(100% - 80px);
  $btn-scroll-left: calc(50% + 300px);
  @import
    "default",
    "menu",
    "scroll",
    "footer",
    "home",
    "content",
    "filter";
}
@media screen and (max-width: 760px) {
  $base-font-size: 17px;
  $home-h1-font-size: 10vw;
  $home-h3-font-size: 4vw;
  $table-td-padding: 2px 2px 2px 2px;
  $table-th-padding: 3px 2px 3px 2px;
  $btn-scroll-top: calc(100% - 80px);
  $btn-scroll-left: calc(100% - 80px);
  @import
    "default",
    "menu",
    "scroll",
    "footer",
    "home",
    "content",
    "filter";

  .menu-element{
    display: none;
  }
  .menu-opener{
    display: block;
  }
  .footer-contacts{
    flex-grow: 12;
    width: 100%;
  }
  .footer-links{
    flex-grow: 12;
    width: 100%;
  }
  .footer-links a{
    padding-bottom: $footer-font-size / 1.5;
  }
  .footer-description{
    flex-grow: 12;
    width: 100%;
  }
  .content-wrap{
    overflow-x: auto;
  }
}
@media screen and (max-width: 409px) {
  .widetable td{
    font-size: 4vw;
  }
}

@media screen and (min-width: 950px) {
  .btn-scroll-top{
    left: calc(50% + 385px);
    top: calc(100% - 110px);
  }
}

/*
@media screen and (max-width: $content-width) {
  .menu-element{
    display: none;
  }
  .menu-opener{
    display: block;
  }
  .footer-contacts{
    flex-grow: 12;
    width: 100%;
  }
  .footer-links{
    flex-grow: 12;
    width: 100%;
  }
  .footer-links a{
    padding-bottom: $footer-font-size / 1.5;
  }
  .footer-description{
    flex-grow: 12;
    width: 100%;
  }
  .footer-inner span{
    font-size: $footer-font-size * 1.35;
  }
  .content span{
    font-size: $base-font-size * 1.35;
  }

}
*/