---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

//variables
$base-font-family: "Roboto", Helvetica, Arial, sans-serif;
$base-font-size: 20px;
$base-line-height: 1.45;
$footer-font-size: 16px;

$h-margin-bottom: 15px;

$base-text-color: #333333;
$link-color: #1fabb9;
$icon-color: #388896;
$bg-color: #fafafa;

$menu-bg-color: #dddddd;

$footer-bg-color: #6b746c;
$footer-base-text-color: #eeeeee;

$content-width: 760px;
$content-padding: 0 25px 0 25px;

$menu-height: 55px;
$menu-element-padding: 0 15px 0 15px;


/*--- defaults ---*/
div, body, button, ul, li, p, a, main {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
  line-height: $base-line-height;
}
ul{
  list-style-type: none;
}

div, p, a, span, body, h1, h2, h3, h4, h5, h6, li {
  font-family: $base-font-family;
  color: $base-text-color;
}
div, p, a, span, body, li{
  font-size: $base-font-size;
}
h1{
  text-align: center;
  font-size: $base-font-size * 2;
  margin-bottom: $h-margin-bottom;
}
h2{
  font-size: $base-font-size * 1.7;
  margin-bottom: $h-margin-bottom;
}
h3{
  font-size: $base-font-size * 1.35;
  margin-bottom: $h-margin-bottom;
}
h3 span{
  font-size: $base-font-size * 1.35;
  color:#388896;
}
a{
  text-decoration: none;
  color: $link-color;
}

/*--- page layout ---*/
.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $bg-color;
}
.content{
  flex-grow: 1;
  padding-bottom: $base-font-size * 2;
}
.content-wrap{
  max-width: $content-width;
  padding: $content-padding;
  margin: auto;
}
.content a:hover, .footer-wrap a:hover{
  text-decoration: underline;
}
/*--- menu ---*/
.menu-wrap{
  height: $menu-height;
}
.menu-wrap *{
  line-height: inherit;
}
.menu-wrap a{
  color: $base-text-color;
}
.menu-outer{
  background-color: $menu-bg-color;
  z-index: 10;
  //top:0;
  //position: fixed;
  display: flex;
}
.menu-inner{
  padding: $content-padding;
  height: $menu-height;
  width:100%;
  max-width: $content-width;
  margin:auto;
  display: flex;
  flex-wrap: nowrap;
  line-height: $menu-height;
}
.menu-title{
  font-size: $base-font-size * 1.7;
}
.menu-spacer{
  flex-grow: 1;
}
.menu-element{
  padding: $menu-element-padding;
}
.menu-element:hover{
  background-color: #80d3e1;
}
.menu-active{
  background-color: #9be5f2;
}
/*more*/
.menu-more{
  position: absolute;
  top: $menu-height;
  right: calc(50% - #{$content-width} / 2);
  z-index: 10;
  background: $menu-bg-color;
  line-height: $menu-height;
  display: none;
  flex-wrap: wrap;
  margin: $content-padding;
  width:200px;
}
.menu-more a{
  width:100%;
}
#menu-more:hover .menu-more{
  display: flex;
}
/*--- footer ---*/
.footer-wrap{
  background-color: $footer-bg-color;
}
.footer-wrap *{
  color: $footer-base-text-color;
}
.footer-wrap a{
  color:#1ad1f1;
}
.footer-wrap h2{
  font-size: $footer-font-size * 1.5;
}
.footer-outer{
  max-width: $content-width;
  padding: $content-padding;
  margin: auto;
}
.footer-inner{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer-inner *{
  font-size: $footer-font-size;
}
.footer-dev{
  padding: 20px 0 7px;
  font-size: 14px;
}

/*--- index page ---*/
.main-img-wrap{
  background-color: #3a3a3a;
  height: 570px;
  width: 100%;
  max-height: 65vw;
}
.main-img{
  height: 570px;
  width: 100%;
  max-height: 65vw;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50%,50%;
  opacity: 0.5;
}
.main-text{
  height: 570px;
  width: 100%;
  max-height: 65vw;
  text-align: center;
  top: $menu-height;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-text h1{
  color:white;
  font-size:65px;
  margin: 60px 0 10px 0;
  text-shadow: 1px 1px #2d2d2d;
}
.main-text h3{
  color:white;
  margin: 10px 0 10px 0;
  text-shadow: 1px 1px #2d2d2d;
}
/* about(index page) */
.about{
  max-width: $content-width;
  padding: $content-padding;
  margin: auto;
}
.about p{
  width:100%;
  text-align: justify;
}

/*--- styles for page layout ---*/
.section{
  
}
.element-wrap{
  padding-bottom: $base-font-size / 2;
}
.element-name{
  font-weight: bold;
  display: inline-block;
}
.element-text{
  display: inline-block;
}
.element-subtext{
  margin-left: $base-font-size * 1.25;
}
.element-links{
  margin-left: $base-font-size * 1.25;
}
.element-counter{
  padding-right: $base-font-size / 2.5;
}

.wrap-flex{
  display: flex;
}
.capitalize{
  text-transform: capitalize;
}
/*--- publications page ---*/
/*-- filter --*/
.pub-yr{
  display:inline-block;
  padding:5px;
  margin:5px;
  width:95px;
  background-color:transparent;
  border:1px solid #2d2d2d;
  border-radius: 3px;
  text-transform: capitalize;
  cursor: pointer;
}
.pub-yr-active{
  background-color:#65bac9;
  box-shadow: 0px 1px #707070;
  border-color: gray;
}
.pub-filter{
  border:1px solid #bbbbbb;
  padding:10px 20px 10px 20px;
}
.pub-filter-toggle{
  font-size: 20px;
  margin:0 5px 0 5px;
  cursor: pointer;
  width: 100%;
  text-align: left;
}
.pub-filter-wrap{
  margin-top:10px;
  display: none;
}
.pub-filter-years{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.pub-filter-reset{
  width:95px;
  margin:10px 5px 0 5px;
  padding:5px;
  background-color:#9be5f2;
  border:1px solid #2d2d2d;
  border-radius: 3px;
  text-transform: capitalize;
  cursor: pointer;
}

/*--- people page ---*/
.people-image{
  height: 500px;
  width: 100%;
  max-height: 65vw;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%,50%;
}

/*--- software page ---*/

/*--- positions page ---*/