---
layout: page
title: Publications
permalink: /publications
---
{% if site.data.publications %}

  {% assign yrs = site.data.publications | map: "year" | uniq | sort_natural | reverse %}
  {% assign counter = site.data.publications.size %}
  <!-- FILTER YEAR-->
  <div class="pub-filter">
    <button class="pub-filter-toggle" id="filter-toggle" onclick="toggleFilters()">
      Filter by Year ▾
    </button>
    <div id="filter-wrap" class="pub-filter-wrap">
      <div class="pub-filter-years">
        {% for yr in yrs %}
        <button class="pub-yr" onclick="toggleYears(this, '{{yr | downcase }}')">
          {{ yr }}
        </button>
        {% endfor %}
      </div>
      <button class="pub-filter-reset" onclick="resetFilters()">
        <span class="mdi mdi-refresh"></span>
        Reset
      </button>
    </div>
  </div>
    <!-- END FILTER-->
  {% for yr in yrs %}
  <div class="section" id="year-{{ yr | downcase }}">
    <h3 class="capitalize"><span class="mdi mdi-calendar"> </span> {{ yr }}</h3>
    {% for pub in site.data.publications %}
      {% if pub.year == yr %}
      <div class="element-wrap wrap-flex">
        <div class="element-counter">
          {{ counter | minus: forloop.index0 }}.
        </div>
        <div class="element-text">
          {{ pub.author }} ({{ pub.year }}). {{ pub.title }} {{ pub.ref }}.
          {% if pub.doi %}
            <br/>
            doi: <a href="http://doi.org/{{ pub.doi }}">{{pub.doi}}</a>
          {% endif %}
          {% if pub.pmcid %}
            <br/>
            pmcid: <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/{{ pub.pmcid }}">{{pub.pmcid}}</a>
          {% endif %}
        </div>
      </div>
      {% endif %}
    {% endfor %}
  </div>
  {% endfor %}
{% endif %}