---
layout: page
title: Software
permalink: /software
---
<div class="software">
  <h1> Software </h1>
  {% for sw in site.data.software %}
    <strong>{{ sw.name }}</strong> –
    {{ sw.tag_line }} <br/>
    
    {% if sw.author %}
      Written by {{ sw.author }}</br>
    {% endif %}   
    
    {% if sw.source_URL %}
    <a href="{{ sw.source_URL }}">
      <span class="mdi mdi-open-in-new"></span>
      Source
    </a>&nbsp;&nbsp;
    {% endif %}
    
    {% if sw.CRAN_URL %}
    <a href="{{ sw.CRAN_URL }}">
      <span class="mdi mdi-language-r"></span>
      CRAN
    </a>&nbsp;&nbsp;
    {% endif %}
    
    {% if sw.PyPI_URL %}
    <a href="{{ sw.PyPI_URL }}">
      <span class="mdi mdi-language-python"></span>
      PyPI
    </a>&nbsp;&nbsp;
    {% endif %}
    
    {% if sw.paper_URL %}
    <a href="{{ sw.paper_URL }}">
      <span class="mdi mdi-text-box"></span>
      Paper
    </a>&nbsp;&nbsp;
    {% endif %}
    
  <br/><br/>
  {% endfor %}
</div>