<footer class="footer-wrap">
  <div class="footer-outer">
    <h2>
      {{ site.title }}
    </h2>
    <div class="footer-inner">
      <div class="footer-contacts">
        {{ site.address }} <br />
        <a href="mailto:{{ site.email }}">{{ site.email }}</a>
      </div>
      <div class="footer-links">
        <a href="https://github.com/wilkelab"><span class="mdi mdi-github"> </span> GitHub</a> <br />
        <a href="https://instagram.com/wilkelab"><span class="mdi mdi-instagram"> </span> Instagram</a> <br />
        <a href="https://twitter.com/ClausWilke"><span class="mdi mdi-twitter"> </span> Twitter</a>
      </div>
      <div class="footer-description">
        {{ site.description }}
      </div>
    </div>
    <div class="footer-dev">
      Developed by Ivan Chernyshov
    </div>
  </div>
</footer>