<footer class="footer-wrap">
  <div class="footer-outer">
    <h2>
      {{ site.title }}
    </h2>
    <div class="footer-inner">
      <div class="footer-contacts">
        {{ site.address }} <br />
        <a href="mailto:{{ site.email }}">{{ site.email }}</a>
      </div>
      <div class="footer-links">
        <a href="https://github.com/{{ site.github_username }}"><span class="mdi mdi-github"> </span> GitHub</a> <br />
        <a href="https://instagram.com/{{ site.instagram_username }}"><span class="mdi mdi-instagram"> </span> Instagram</a> <br />
        <a href="https://twitter.com/{{ site.twitter_username}}"><span class="mdi mdi-twitter"> </span> Twitter</a>
      </div>
      <div class="footer-description">
        {{ site.description }}
      </div>
    </div>
    <div class="footer-dev">
      <a href="http://ivan-chernyshov.com" target="_blank">Developed by Ivan Chernyshov </a>
    </div>
  </div>
</footer>