<footer class="footer-wrap">
  <div class="footer-outer">
    <h2>
      {{ site.title }}
    </h2>
    <div class="footer-inner">
      <div class="footer-contacts">
        <ul>
          <li>{{ site.address }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>
      <div class="footer-links">
        <ul>
          <li><a href="https://github.com/wilkelab"><span class="mdi mdi-github"></span> GitHub</a></li>
          <li><a href="https://instagram.com/wilkelab"><span class="mdi mdi-instagram"></span> Instagram</a></li>
          <li><a href="https://twitter.com/ClausWilke"><span class="mdi mdi-twitter"></span> Twitter</a></li>
        </ul>
      </div>
      <div class="footer-description">
        {{ site.description }}
      </div>
    </div>
    <div class="footer-dev">
      Developed by Ivan Chernyshov and Claus Wilke
    </div>
  </div>
</footer>