<div class="menu-wrap">
  <div class="menu-outer">
    <div class="menu-inner">
      <a class="menu-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
      <div class="menu-spacer"></div>
      {% for el in site.data.menu limit:3 %}
      {% assign curPage = site.baseurl | append: '/' | append: el.link %}
      <a class="menu-element{% if curPage == page.url %} menu-active{% endif %}"
        href="{{ site.baseurl }}/{{el.link }}">{{ el.title }}</a>
      {% endfor %}
      {% if site.data.menu.size > 3 %}
      <div id="menu-more" class="menu-element">More▾
        <div class="menu-more">
          {% for el in site.data.menu offset:3 %}
          <a class="menu-element{% if curPage == page.url %} menu-active{% endif %}"
            href="{{ site.baseurl }}/{{el.link }}">{{ el.title }}</a>
          {% endfor %}
        </div>
      </div>
      {% endif %}
      <button class="menu-opener" onclick="openMenu()"> 
        <span class="mdi mdi-menu"> </span>
      </button>
    </div>
  </div>
</div>
<div id="menu-overlay" class="menu-overlay" onclick="hideOverlay()">
  <div class="menu-drawer">
    <div class="menu-spacer"></div>
    <button class="menu-closer" onclick="closeMenu()"> 
      <span class="mdi mdi-close"> </span>
    </button>
    <a class="menu-drawer-element"
    href="{{ site.baseurl }}/">Home</a>
    {% for el in site.data.menu %}
    <a class="menu-drawer-element"
    href="{{ site.baseurl }}/{{el.link }}">{{ el.title }}</a>
    {% endfor %}
  </div>
</div>