/*--- publications page ---*/
/*-- filter --*/
.pub-yr{
  display:inline-block;
  padding: 5px;
  margin: 5px 8px 5px 8px;
  width: $base-font-size * 3.8;
  font-size: $base-font-size * 0.9;
  height: $base-font-size * 1.9;
  background-color: $bg-color-second;
  text-transform: capitalize;
  cursor: pointer;
  border-width: 1px 2px 2px 1px;
  border-radius: 3px;
  border-style: solid;
  border-color: $bg-color-active;
}
.pub-yr-active{
  background-color: $bg-color-active;
  border-width: 2px 1px 1px 2px;
}
.pub-filter{
  background-color: $filter-bg-color;
  padding: 10px 0 10px 0;
}
.pub-filter-toggle{
  font-size: $base-font-size;
  margin: 0 5px 0 5px;
  cursor: pointer;
  width: 100%;
  text-align: left;
  color: $icon-color;
}
.pub-filter-wrap{
  margin-top:10px;
  display: none;
}
.pub-filter-years{
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
.pub-filter-reset{
  width: $base-font-size * 4.5;
  font-size: $base-font-size * 0.9;
  margin:10px 5px 10px 5px;
  padding: 5px;
  height: $base-font-size * 1.9;
  background-color: $bg-color-second;
  text-transform: capitalize;
  cursor: pointer;
  border-width: 1px 2px 2px 1px;
  border-style: solid;
  border-radius: 3px;
  border-color: $bg-color-active;
}
.pub-filter-reset span{
  font-size: $base-font-size * 0.9;
}
.pub-filter-reset:active{
  border-width: 2px 1px 1px 2px;
  background-color: $bg-color-active;
}
